*, *::before, *::after {
    box-sizing: border-box;
  }
  
  :root {
    --colorMain: #c0c0c0;
    --brShadow: 0px 0px 5px rgba(0,0,0,0.5);
    --tlShadow: 0px 5px 5px rgb(255, 255, 255);
  }
  


body{
    font-family: manrope;
}

.phone{
    color:#4752D2;
}

#bg{
    background:url('../images/bg.svg');
    /* filter: brightness(75%); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text {
    text-shadow: var(--tlShadow), var(--brShadow);
  }


.neubox{

    border-radius: 20px;
    background: #ffffffe0 !important;
    box-shadow:  7px 7px 14px #808080a9,
    -9px -9px 14px #ffffff !important;
    border:none;
}
.neumorphic {
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
      -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    overflow: hidden;
    padding: 1.3rem;
    display: flex;
  }
.neumorphic--pressed {
    box-shadow: inset 3px 3px 5px 0 rgba(0, 0, 0, 0.178),
      inset -3px -3px 5px 0 rgba(255, 255, 255, 0.5);
  }
.roundbtn{
    background:#4752D2;
    border-radius: 100px;
    padding:10px 13px;
    border:none;
    margin-left: -40px;
    z-index:2;
}
h1,h2{
    color:#1D293F;
}
.bold{
    font-family:manrope;
    font-weight:bolder;

}
.red{
    font-family:manrope;
    font-weight:bolder;
    color:#FB1515;
}

.option{
    font-size:3rem;
    text-shadow:  1px 1px 3px #808080a9,
    -3px -3px 3px #ffffff !important;
    text-decoration: underline;
}

ul{
    list-style: none;
}

li{
    display:inline-block;
    
}

.or{
    padding:15px 0px;
    background: #000;
    color:#fff;
    border-radius: 100px;
}

hr{
    border-top:1px solid rgba(85, 85, 85, 0.747);
    margin-top:30px;
}
.login{
    font-weight:900;
    font-size:4em;
    color:#F1F2F7;
    text-decoration:none;
    text-shadow:  7px 7px 14px #d3d3d3,
    -7px -7px 14px #ffffffd7 !important;
    transition:0.8s cubic-bezier(0.77, 0, 0.175, 1);
}
.login:hover{
    color:#aab8fac0;
    text-decoration:none;
    text-shadow:  7px 7px 14px #d3d3d3,
    -17px -17px 14px #ffffffd7 !important;
}
@media (min-width: 992px) { 
    .or{
        padding-top:15px!important;
        padding-bottom:15px!important;
        padding-right:36px !important;
        padding-left:16px !important;

        background:#000;
        
    }
}
@media (min-width: 576px) { 
    .footerlinks{
        text-align:center;
        margin-right:20px !important;
    }
 }
@media (max-width: 576px) { 
    .footerlinks{
        text-align:center;
        margin-right:50px !important;
    }
 }
@media (max-width: 455px) { 
  .option{
      margin-top:60px !important;
      font-size:8vw;
  }
 }
@media (max-width: 335px) { 
  .option{
      margin-top:60px !important;
      font-size:5vw;
  }
 }